body {
    background-color: #000000;
    color: #fff;
}
.exer {
    margin: 40px 280px;
    padding: 4px;
}
h1{
    font-size: 50px;
    text-align: center;
}
span{
    color: #1b9bf1;
}
h2{
    font-size: 35px;
}
p {
    font-size: 20px;
}