header{
    text-align: center;
    padding: 30px;
    font-size: 28px;
    background-color: #b6b6b6;
    color: #fff;
}
.inicio{
    margin: 30px 70px;
}
p{
    font-size: 20px;
    text-align: center;
}
h2{
    font-size: 30px;
}
span{
    background-color: #83838333;
}
